.top{
    background-color: blue;

}
.left{
    display: inline;
}
.right{
    display: flex;
    float: right;
    padding-right: 3%;
    flex-direction: row;

}
ul{ 
    flex-direction: column;
    display: inline;
    justify-content: space-evenly;
    list-style: none;
}